<template>
  <footer>
    <b-container>
      <b-row>
        <b-col
          cols="12"
          md="4"
        >
          <h4 class="footer-title">
            {{ $t('footer.foundation.title') }}
          </h4>

          <p>{{ $t('footer.foundation.kvk') }}</p>
          <p>{{ $t('footer.foundation.contact') }}</p>

          <h4 class="footer-title">
            {{ $t('footer.community.title') }}
          </h4>

          <p>
            <router-link :to="localePath('/team')">
              {{ $t('footer.community.faces') }}
            </router-link>
          </p>

          <h4 class="footer-title">
            {{ $t('footer.cooperation') }}
          </h4>

          <div class="cooperation-wrapper">
            <div
              v-for="cooperation in cooperationItems "
              :key="cooperation.name"
              class="cooperation"
              :class="cooperation.class"
            >
              <a
                :href="cooperation.href"
                target="_blank"
              >
                <div>
                  <img
                    :src="cooperation.image"
                    :alt="cooperation.name"
                  >
                </div>
                <div>
                  <span class="cooperation-name">{{ cooperation.name }}</span>
                </div>
              </a>
            </div>
          </div>
        </b-col>

        <b-col>
          <div class="link-wrapper">
            <div
              v-for="footerItem in footerItems"
              :key="footerItem.title"
              class="link-group"
            >
              <h4 class="footer-title">
                {{ $t(footerItem.title) }}
              </h4>

              <ul>
                <li
                  v-for="item in footerItem.items"
                  :key="item.name"
                >
                  <router-link v-if="item.href.startsWith('/')" :to="localePath(item.href)">
                    {{ item.name }}
                  </router-link>
                  <a v-else :href="item.href" target="_blank">
                    {{ item.name }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </b-col>
      </b-row>

      <b-row>
        <b-col class="text-center small">
          &copy; {{ $t('footer.copyRightText') }}
          -
          <a
            href="https://gitlab.com/electronic-gulden-foundation/electronic-gulden-foundation.gitlab.io/"
            target="_blank"
          >
            {{ $t('footer.helpImproveWebsite') }}
          </a>
        </b-col>
      </b-row>
    </b-container>
  </footer>
</template>

<script lang="ts">
  import { Component, Vue } from 'nuxt-property-decorator'

  @Component
  export default class Footer extends Vue {
    footerItems = [
      {
        title: 'footer.socialMedia',
        items: require('~/data/social-media').default
      },
      {
        title: 'footer.exchanges',
        items: require('~/data/exchanges').default
      },
      {
        title: 'footer.pools',
        items: require('~/data/pools').default
      },
      {
        title: 'footer.blockexplorers',
        items: require('~/data/blockexplorers').default
      },
      {
        title: 'footer.onlineWallets',
        items: require('~/data/online-wallets').default
      },
      {
        title: 'footer.other',
        items: require('~/data/other').default
      }
    ]

    cooperationItems = [
      {
        name: 'Communitycoins.org',
        href: 'https://communitycoins.org',
        image: 'https://communitycoins.org/img/communitycoins_logo_light.png'
      },
      {
        name: 'Bitcoin.org',
        href: 'https://bitcoin.org/en/about-us',
        image: 'https://en.bitcoin.it/w/images/en/2/29/BC_Logo_.png'
      }
    ]
  }
</script>

<style lang="scss" scoped>
  footer {
    background-color: #353535;
    width: 100%;
    padding: 25px;
    color: #fff;
    font-size: 0.9rem;

    ul {
      list-style-type: none;
      padding-left: 0;

      li {
        padding-left: 0;
      }
    }

    .link-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: space-evenly;

      .link-group {
        min-width: 200px;
      }
    }

    .cooperation-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .cooperation {
      flex: 1;
      text-align: center;
      img {
        padding: 15px;
        height: 115px;
      }
    }

  }
</style>
