<template>
  <b-navbar toggleable="md">
    <b-navbar-brand :to="localePath({ name: 'index' })">
      <b-img-lazy :src="Logo" class="brand-img" />
    </b-navbar-brand>

    <b-navbar-toggle target="nav-collapse" />

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav class="ml-auto">
        <b-nav-item
          :to="localePath({ name: 'index' })"
          class="nav-item"
          @click="scrollToDownloadWhenAvailable()"
        >
          {{ $t('navigation.topMenu.download') }}
        </b-nav-item>

        <b-nav-item :to="localePath({ name: 'team' })" class="nav-item">
          {{ $t('navigation.topMenu.team') }}
        </b-nav-item>

        <b-nav-item href="https://wiki.egulden.org/" class="nav-item">
          {{ $t('navigation.topMenu.wiki') }}
        </b-nav-item>

        <b-nav-item :to="localePath({ name: 'zoeken' })" class="nav-item search">
          <fa :icon="searchIcon" />
        </b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script lang="ts">
  import { Component, Vue } from 'nuxt-property-decorator'
  import { faSearch } from '@fortawesome/free-solid-svg-icons'

  import Logo from '~/assets/logo.png'

  @Component({})
  export default class TopMenu extends Vue {
    $matomo!: any

    Logo = Logo

    searchIcon = faSearch

    scrollToDownloadWhenAvailable (counter = 0): void {
      if (counter > 10) {
        return
      }

      this.$matomo?.trackEvent('Download', 'ClickMenu')

      setTimeout(() => {
        const element = document.getElementById('wallet-versions')

        if (element) {
          element.scrollIntoView({ behavior: 'smooth' })
        } else {
          this.scrollToDownloadWhenAvailable(counter + 1)
        }
      }, 10)
    }
  }
</script>

<style lang="scss" scoped>
.brand-img {
  height: 75px;
}

.nav-item {
  font-size: 1.2rem;

  &.search {
    font-size: 1.4rem;
  }
}
</style>
