<template>
  <b-container>
    <b-row align-v="center" class="title-wrapper mb-4">
      <b-col class="title-background" md="6">
        <h1 class="title">
          {{ $t('pages.woodie.title') }}
        </h1>

        <b-row>
          <b-col sm="6">
            <div class="title-divider" />
          </b-col>
        </b-row>

        <h2 class="subtitle">
          {{ $t('pages.woodie.subtitle') }}
        </h2>

        <div class="buttons d-flex justify-content-start">
          <div>
            <b-btn
              href="https://e-gulden.org/index.php/aanmelden_als_vriend?ref=woodie"
              size="lg"
              variant="primary"
            >
              {{ $t('pages.woodie.buttons.claimEFL') }}
            </b-btn>
          </div>
        </div>
      </b-col>

      <b-col md="6">
        <b-img :src="woodieImage" fluid />
      </b-col>
    </b-row>

    <b-row>
      <b-col class="pt-3" md="8" offset-md="2">
        <div v-html="$t('pages.woodie.what')" />
      </b-col>
    </b-row>

    <b-row class="mt-5">
      <b-col>
        <front-page-social-media />
      </b-col>
    </b-row>

    <b-row class="mt-5">
      <b-col>
        <front-page-ticker />
      </b-col>
    </b-row>

    <b-row class="mt-5">
      <b-col sm="4">
        <front-page-exchanges />
      </b-col>

      <b-col
        id="wallet-versions"
        class="wallet-download-background"
        sm="8"
      >
        <front-page-wallet-download />
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
  import { Component, Vue } from 'nuxt-property-decorator'
  import { MetaInfo } from 'vue-meta'
  import FrontPageSocialMedia from '~/components/frontpage/FrontPageSocialMedia.vue'
  import FrontPageWalletDownload from '~/components/frontpage/FrontPageWalletDownload.vue'
  import FrontPageExchanges from '~/components/frontpage/FrontPageExchanges.vue'
  import FrontPageTicker from '~/components/frontpage/FrontPageTicker.vue'

  const backgroundImage = require('~/assets/img/backgrounds/geocaching.jpeg')

  @Component({
    components: {
      FrontPageTicker,
      FrontPageExchanges,
      FrontPageSocialMedia,
      FrontPageWalletDownload
    }
  })
  export default class Woodie extends Vue {
    woodieImage = backgroundImage

    public head (): MetaInfo | unknown {
      return {
        backgroundImage
      }
    }
  }
</script>

<style lang="scss" scoped>
.title-wrapper {
  margin-top: 150px;

  .title-background {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
  }

  .title {
    color: $efl-color;
    font-weight: 300;
    margin-bottom: 0;
  }

  .title-divider {
    padding-top: 1.2rem;
    margin-bottom: 1.2rem;
    border-bottom: 2px solid $efl-color;
  }

  .subtitle {
    font-size: 1.1rem;
    color: $gray-500;
    text-transform: uppercase;
    font-weight: 600;
  }

  .buttons {
    margin-top: 35px;

    > div:not(:first-child) {
      margin-left: 5px;
    }
  }
}

.wallet-download-background {
  background-color: $efl-blue;
  color: #fff;
}
</style>
