<template>
  <b-container>
    <b-row class="justify-content-center">
      <b-col md="6">
        <div class="search-wrapper my-5 py-3 px-4 border border-gray bg-white">
          <h1>{{ $t('pages.search.head.title') }}</h1>

          <b-form @submit.prevent="doSearch()">
            <b-form-group :label="$t('pages.search.input.label')">
              <b-input-group>
                <b-input
                  v-model="searchInput"
                  :placeholder="$t('pages.search.input.placeholder')"
                  tabindex="1"
                  autofocus
                />

                <b-input-group-append>
                  <b-btn
                    type="submit"
                    variant="primary"
                  >
                    <fa :icon="searchIcon" />
                  </b-btn>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-form>
        </div>
      </b-col>
    </b-row>

    <b-row>
      <b-col v-if="!hasSearched" />

      <b-col v-else-if="isLoading" class="text-center text-primary">
        <b-spinner />
      </b-col>

      <b-col v-else>
        <b-table
          :fields="tableFields"
          :items="searchResults"
          class="bg-white border-bottom"
          responsive
          show-empty
        >
          <template #empty>
            <i class="d-block text-center font-larger">
              {{ $t('pages.search.table.noResults') }}
            </i>
          </template>

          <template #cell(titel)="{ item }">
            <router-link v-if="item.isInternalLink" :to="localePath(item.url)">
              {{ item.titel }}
            </router-link>
            <a v-else :href="item.url">
              {{ item.titel }}
            </a>
          </template>

          <template #cell(fragment)="{ item }">
            <span v-html="item.fragment" />
          </template>
        </b-table>
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
  import { Component, Vue, Watch } from 'nuxt-property-decorator'
  import { faSearch } from '@fortawesome/free-solid-svg-icons'

  interface SearchResultItem {
    url: string;
    titel: string;
    datum: string;
    time: number;
    categorie: string;
    fragment: string;
    isInternalLink?: boolean;
  }

  interface SearchResult {
    [key: string]: SearchResultItem;
  }

  @Component({
    head (this: SearchPage) {
      return {
        title: this.$t('pages.search.head.title').toString()
      }
    }
  })
  export default class SearchPage extends Vue {
    $matomo!: any

    /**
     * Current value of the search input
     */
    searchInput: string = ''

    /**
     * Keep track of the search input used for the last search
     */
    lastSearchInput: string = ''

    searchIcon = faSearch
    searchResults: SearchResultItem[] = []

    hasSearched = false
    isLoading = false

    get tableFields () {
      return [
        {
          key: 'titel',
          label: this.$t('pages.search.table.title').toString()
        },
        {
          key: 'datum',
          label: this.$t('pages.search.table.date').toString()
        },
        {
          key: 'categorie',
          label: this.$t('pages.search.table.category').toString()
        },
        {
          key: 'fragment',
          label: this.$t('pages.search.table.fragment').toString()
        }
      ]
    }

    async doSearch (): Promise<any> {
      this.hasSearched = true
      this.isLoading = true

      if (this.lastSearchInput === this.searchInput) {
        // Fake loading to make clear that results have been loaded
        setTimeout(() => (this.isLoading = false), 200)
        return
      }

      const currentSearchInput = this.searchInput
      const response = await fetch(`https://e-gulden.org/zoek2.php?${currentSearchInput}`).then(r => r.json())
      const result: SearchResult = response || {}

      if (currentSearchInput !== this.searchInput) {
        // Cancel processing if the search input changed in the meantime
        return
      }

      this.setSearchResultItems(result)

      this.isLoading = false
      this.lastSearchInput = currentSearchInput

      this.$matomo?.trackSiteSearch(currentSearchInput, undefined, this.searchResults.length)
    }

    setSearchResultItems (input: SearchResult) {
      this.searchResults = Object.values(input)
        .map((original) => {
          const item = {
            ...original,

            isInternalLink: original.categorie === 'egulden.org'
          }

          if (item.isInternalLink) {
            item.url = new URL(item.url).pathname
          }

          return item
        })
        .sort((a, b) => b.time - a.time)
    }

    @Watch('searchInput')
    watchSearchInput (newValue: string, oldValue: string) {
      if (oldValue === newValue) {
        return
      }

      setTimeout(() => {
        if (newValue === this.searchInput) {
          this.doSearch()
        }
      }, 500)
    }
  }
</script>
